.cars {
  padding-top: 82px;
  &__title-icon {
    font-size: 12px !important;
  }
  &__title {
    font-weight: 400;
    margin-bottom: 30px !important;
  }
  &__header {
    @include flex(space-between);
  }
}
.cars-component{
  @include flex();
  padding: 20px;

  &__card-main {
    padding: 10px 10px 20px 10px;
    transition: 0.3 ease-in-out;
     margin-bottom: 30px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 15px 0 rgb(41 61 88 / 10%);
      .cars-component__img {
        transform: scale(1.2);
      }
    }
  }
  &__title {
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }
  &__img-parent {
    height: 220px;
    width: 289px !important;
    overflow: hidden;
  }
  img {
   width: 100%;
    height: inherit;
    // object-fit: cover;
    transition: 0.5s ease-in-out;
  }
}
.cars-detail {
  padding-top: 20px;
  @include flex(space-between);
  padding: 0;
  &__left {
    margin-right: 32px;
    height: 660px;
    width: 396px;
    background-color: #f6f6f6;
    border-radius: 8px;
    padding: 16px 24px;
  }
  &__left-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  &__left-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  &__left-img {
    width: 348px;
    height: 160px !important;
    object-fit: cover;
    margin-bottom: 16px;
  }
  ul {
    list-style: none;
    li {
      font-weight: 600;
      font-size: 16px;
      line-height: 32px;
      margin-bottom: 4px;
      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
  }
  &__right {
    width: 850px;
    header {
      @include flex(space-between);
      margin-bottom: 12px;
    }
    .cars-detail__right-img {
      @include center;
      flex-direction: column;
      height: 444px;
      width: 824px !important;
      object-fit: cover;
      img {
        margin-top: 10px;
        margin-bottom: 18px;
      }
    }
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      margin-bottom: 40px;
    }
    .cars-detail__right-check {
      @include flex;
    }
  }
}
